@import "../../../styles/variables.module";
@import "../../../styles/mixins.module";
.faqcontainer {
  background-color: $background-color-fill;
  padding: 50px 0;
  border-radius: 8px;
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faqtitle {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: $font-size-small;
}

.faqitem {
  background-color: rgb(255, 255, 255);
  border: 1px solid #5b7978;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  width: 70%;
  margin: 10px 0;
}

.faqquestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faqquestion p {
  margin: 0;
  font-weight: bold;
}

.arrow {
  transition: transform 0.3s;
}

.arrow.open {
  transform: rotate(180deg);
}

.faqanswer {
  margin-top: 10px;
  padding: 5px 0;
  color: #333;
}
