@import "../../../styles/variables.module";
@import "../../../styles/mixins.module";
.ReviewContainer {
  height: auto;
  h1 {
    text-align: center;
  }
  color: $text-color-base;
  font-family: $font-family-base;
  @include respond-to("tablet") {
    font-size: 10px;
  }
  @include respond-to("phone") {
    margin: 0 10px;
  }
  .ReviewCards {
    background-color: $background-color-undercards;
    @include flex-wrap;
    margin: 20px 0px;
    padding: $padding-value-20;

    .ClientCardContainer {
      flex-basis: 50%;
      @include flex-center;
      padding: 10px 0;

      .line {
        width: 5px;
        height: 200px;
        background-color: $line-color;
        margin-right: $margin-value-10;
      }

      .ClientImg {
        margin-right: $margin-value-10;

        img {
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .ClientReview {
        p {
          color: $text-color-light;
        }
      }
    }

    @include respond-to("tablet") {
      flex-direction: column;

      .ClientCardContainer {
        flex-basis: 100%;
        justify-content: flex-start;

        .ClientReview {
          flex-basis: 50%;
        }
        &:nth-child(odd) {
          flex-direction: row-reverse;
          text-align: left;
          h3 {
            text-align: right;
          }
          justify-content: flex-start;
          .line {
            margin-left: $margin-value-10;
            margin-right: 0;
          }

          .ClientImg {
            margin-left: $margin-value-10;
            margin-right: 0;
          }
        }
      }
    }

    @include respond-to("phone") {
      flex-basis: 100%;
      display: none;
    }
  }
}
.ReviewCardsPhone {
  display: none;
  @include respond-to("phone") {
    display: block;
    .ClientCardContainer {
      flex-basis: 50%;
      @include respond-to("phone") {
      }
      @include flex-center;
      .line {
        width: 10px;
        background-color: $line-color;
        height: 200px;
        margin-right: $margin-value-10;
      }
      .ClientImg {
        margin-right: $margin-value-10;
        img {
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .ClientReview {
        p {
          color: $text-color-light;
        }
      }
    }
  }
}
