@mixin desktop() {
  @media (max-width: 600px) {
    @content;
  }
}
$breakpoints: (
  "phone-small": 320px,
  "phone": 480px,
  "tablet": 768px,
  "laptop": 1024px,
  "desktop": 1280px,
  "desktop-large": 1440px,
);

@mixin respond-to($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
@mixin for-all-devices($properties) {
  @include respond-to("phone-small") {
    @content;
  }
  @include respond-to("phone") {
    @content;
  }
  @include respond-to("tablet") {
    @content;
  }
  @include respond-to("laptop") {
    @content;
  }
  @include respond-to("desktop") {
    @content;
  }
  @include respond-to("desktop-large") {
    @content;
  }
}
@mixin flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin flex-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-direction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin wrap {
  width: 80%;
  margin: $margin-value-20 auto;
}

@mixin laptop-m-styles {
  @media (max-width: 1024px) {
    @content;
  }
}
