@mixin desktop() {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-direction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin wrap {
  width: 80%;
  margin: 10px auto;

}

@mixin laptop-m-styles {
  @media (max-width: 1024px) {
    @content;
  }
}



