@use "sass:math";

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// Font and size settings
$font-family-base: "EB Garamond", serif;
$line-height-base: 1.5;
$font-size-big: 2.9rem;
$font-weight-normal: 400;
$font-weight-bold: 700;
$gutter-base: rem-calc(30);
$button-radius: 10px;

// Color settings
$text-color-base: #002629;
$text-color-light: #151715;
$text-color-primary: #f0f0f0;
$text-color-secondary: rgba(0, 188, 213, 0.9);
$background-color-fill: #E5F7F7;
$background-color-rectangle: #00807a;
$background-color-irblue: #7fdbd7;
$background-color-undercards: #00807a08;
$background-color-primary: linear-gradient(
  120deg,
  rgba(43, 198, 226, 0.57) 0%,
  #ebedee 100%
);
$line-color: #003634;
$card-fill: #E5FBFB; // Also this color is for FAQ
$card-icon-green1: #004946;
$card-icon-green2: #014240;
$card-icon-green3: #0F4D4B;
$background-color-hover: #00a49d;
$transition-duration: 0.8s;

