@use "sass:math";

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// Font and size settings
$font-family-base: "Fjord One", serif;
$line-height-base: 1.5;
$font-size-big: 2.9rem;
$font-weight-normal: 400;
$font-weight-bold: 700;
$gutter-base: rem-calc(30);
$button-radius: 10px;

// Color settings
$text-color-base: #000;
$text-color-primary: #fff;
$text-color-secondary: rgba(0, 188, 213, 0.9);
$background-color-base: rgba(0, 188, 213, 0.9);
$background-color-secondary: linear-gradient(
  120deg,
  rgb(236, 242, 244, 0.75) 0%,
  #ebedee 100%
);
$background-color-primary: linear-gradient(120deg, rgba(43, 198, 226, 0.57) 0%, #ebedee 100%);
$transition-duration: 0.8s;
$hover-border-color: white;
$text-color: white;