@import "./variables.module";
@import "./mixins.module";
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
  //  height: 100vh;
  @include respond-to("laptop") {
    display: flex;
    justify-content: center;
  }
}
.device {
  @include respond-to("above-desktop") {
    display: none;
  }
}
.MainImagesContainer {
  width: 60%;
  @include respond-to("laptop") {
    display: none;
  }

  @include respond-to("desktop") {
    width: 451px;
  }
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: 801px;
  height: 648px;
  padding: 20px;
  background-color: $background-color-rectangle;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}
.textSection {
  width: 40%;
  @include respond-to("laptop") {
    width: 100%;
    text-align: center;
  }
}
.Milestones {
  background-color: $background-color-irblue;

  @include flex-center;
  padding: 10px;
  color: $text-color-primary;
  font-weight: $font-weight-bold;
  text-align: center;
  font-size: $font-size-big;
}
