@import "./variables.module";

.Milestones {
  background: $background-color-undercards;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: $text-color-primary;
  font-weight: $font-weight-bold;
  text-align: center;
  font-size: $font-size-big;
}
