@import "../../styles/variables.module";
@import "../../styles/mixins.module";

.scrollbtn {
  position: fixed;
  bottom: 20px;
  left: 95%;
  transform: translateX(-50%);
  cursor: pointer;
  color: $text-color-primary;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #002629;
  z-index: 1000;
}
