@import "../../styles/variables.module";
@import "../../styles/mixins.module";
.MainSection {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #78767680;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  .Modal {
    background-color: $card-fill;
    color: $text-color-base;
    z-index: 11;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 6px 11px 3px rgba(0, 0, 0, 0.6);
    button {
      cursor: pointer;
      font-family: $font-family-base;
      font-size: rem-calc(18);
      background-color: transparent;
      border: 2px solid transparent;
      border-radius: $button-radius;
      padding: 10px;
    }
    h1 {
      text-align: center;
    }
    h3 {
      font-size: rem-calc(18);
    }
    .right {
      display: flex;
      justify-content: flex-end;
    }
    .center {
      display: flex;
      flex-direction: column;
      padding: 10px;
      span {
        margin: 10px;
      }
    }
    .contain {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      @include respond-to("tablet") {
        flex-direction: column;
      }
    }
  }
}
