@import "../../styles/variables.module";
@import "../../styles/mixins.module";

.Header {
  @include flex-center;
}
.Navbar {
  color: $text-color-primary;

  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 100000;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  //margin: 10px auto;
  background: transparent;
  padding: 10px 0;
  font-size: 25px;

  .listMenu ul {
    @include flex-center;
  }
  .listMenu,
  .buttons {
    display: flex;
    align-items: center;

    @include laptop-m-styles {
      display: none;
    }

    li,
    .button {
      cursor: pointer;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
    &.buttons span {
      margin-right: 10px;
      cursor: pointer;
      &:hover {
        color: $text-color-hover;
      }
    }
    li:hover {
      color: $text-color-hover;
    }
  }

  .button {
    font-family: $font-family-base;
    font-size: rem-calc(18);
    color: $text-color-primary;
    background: $background-color-rectangle;
    border: 2px solid transparent;
    border-radius: $button-radius;
    padding: 10px;
    transition: background $transition-duration ease,
      color $transition-duration ease, border-color $transition-duration ease;

    &:hover {
      background-color: $background-color-hover;
    }
  }
  .hambMenu {
    display: none;
  }
  @include laptop-m-styles {
    .hambMenu {
      display: block;
      right: 0;
      .menu {
        --s: 25px; /* control the size */
        --c: rgb(255, 255, 255); /* the color */
        z-index: 1000000000;

        height: var(--s);
        aspect-ratio: 1;
        border: none;
        padding: 0;
        border-inline: calc(var(--s) / 2) solid #0000;
        box-sizing: content-box;
        --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
          content-box border-box;
        --_g2: radial-gradient(
            circle closest-side at 50% 12.5%,
            var(--c) 95%,
            #0000
          )
          repeat-y content-box border-box;
        background: var(--_g2) left var(--_p, 0px) top,
          var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
          var(--_g2) right var(--_p, 0px) top,
          var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
        background-size: 20% 80%, 40% 100%;
        position: relative;
        clip-path: inset(0 25%);
        // -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
        cursor: pointer;
        transition: background-position 0.3s var(--_s, 0.3s),
          clip-path 0s var(--_s, 0.6s);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      .menu:before,
      .menu:after {
        content: "";
        position: absolute;
        border-radius: var(--s);
        inset: 40% 0;
        background: var(--c);
        transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
      }
      .menu:checked {
        clip-path: inset(0);
        --_p: calc(-1 * var(--s));
        --_s: 0s;
      }
      .menu:checked:before {
        transform: rotate(45deg);
      }
      .menu:checked:after {
        transform: rotate(-45deg);
      }
      .menu:focus-visible {
        clip-path: none;
        // -webkit-mask: none;
        border: none;
        outline: 2px solid var(--c);
        outline-offset: 5px;
      }
    }
  }
  .hambList {
    // width: 100%;
    z-index: 100000;
    position: absolute;
    top: 100%;
    color: $text-color-primary;
    // background: $background-color-secondary;

    width: 100%;
    //height: 100vh;
    @include flex-direction;
    // flex-direction: column;
    ul {
      // @include flex-direction;
      text-align: center;
      font-size: 30px;
      @include respond-to("tablet") {
        text-align: left;
        line-height: 2;
        font-size: $font-size-small;
      }
      @include respond-to("phone") {
        font-size: $font-size-small;
      }
      li {
        // line-height: 2;
        cursor: pointer;
      }
    }
    // left: 50%;
    // right: 50%;
    // transform: translate(-50%,-50%);
    @include respond-to("tablet") {
      background: rgb(22, 22, 22) !important;
      width: 300px;
      height: 100vh;
      top: 0;
      right: 0;
      border: 2px solid $background-color-rectangle;
    }
    @include respond-to("phone") {
      background: rgb(22, 22, 22);
      width: 200px;
      height: 100vh;
      top: 0;
      right: 0;
    }
  }
}
