@import "../../../styles/variables.module";
@import "../../../styles/mixins.module";

.OfferService {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px auto;
  height: 250px;
  padding: 20px;
  background-color: $background-color-irblue;
  text-align: center;
  overflow: hidden;
  .swiper-slide{
    @include flex-center;
  }
  &.OfferService h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    //   font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
}
.swiper-wrapper {
  @include flex-center;
}