@import "../../styles/mixins.module";
@import "../../styles/variables.module";
.FooterMain {
  // @include flex-direction();
  padding: 10px;
  font-size: 20px;
  color: $text-color-primary;
  background: $background-color-rectangle;
  .imgParagraph {
    @include wrap;
    width: 100px;
    // margin: 10px auto;
    img {
      width: 100%;
    }
  }

  .InfoSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .InfoSection div {
    width: 33.333333%;
    text-align: left;
  }

  ul {
    margin: 15px 10px;
  }
  .SocialMedia {
    ul {
      display: flex;
    }
  }
}
.Adress h2 {
  margin-left: 15px;
}
.Center {
  display: flex;
  justify-content: space-between;
}
.Underline {
  text-decoration-line: underline;
}
