// Import your variables and mixins
@import "../../styles/variables.module";
@import "../../styles/mixins"; // assuming mixins are stored here

// Define the .Banner styles
.Banner {
  color: $text-color-secondary;

  @include flex-center;
  background-image: url('../../../public/assets/images/dental-toolkit.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 100%;
}
